---
BasedOnStyle: Google
ColumnLimit: 200
SeparateDefinitionBlocks: Always
AllowShortFunctionsOnASingleLine: None
AllowShortBlocksOnASingleLine: Never
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
